/NTCIR12-MathWikiFormula-queries-infix-participants.json
/NTCIR12-MathWikiFormula-queries-infix-participants.failures
/NTCIR12-MathWikiFormula-queries-latex-participants.json
/NTCIR12-MathWikiFormula-queries-latex-participants.failures
/NTCIR12-MathWikiFormula-queries-opt-participants.json
/NTCIR12-MathWikiFormula-queries-opt-participants.failures
/NTCIR12-MathWikiFormula-queries-prefix-participants.json
/NTCIR12-MathWikiFormula-queries-prefix-participants.failures
/NTCIR12-MathWikiFormula-queries-slt-participants.json
/NTCIR12-MathWikiFormula-queries-slt-participants.failures
/MathTagArticles_infix.json.gz
/MathTagArticles_infix.failures
/MathTagArticles_latex.json.gz
/MathTagArticles_latex.failures
/MathTagArticles_opt.json.gz
/MathTagArticles_opt.failures
/MathTagArticles_prefix.json.gz
/MathTagArticles_prefix.failures
/MathTagArticles_slt.json.gz
/MathTagArticles_slt.failures
